<div class="table-responsive">

            <p>
                Total de gastos {{getTotalMesTexto()}}: R$ {{getTotalDespesas()}}
            </p>    
             <div class="form-group">
            <label for="month">Seleciona o mês: </label>
            <select [(ngModel)]="monthSelected" id="month" class="form-control" (change)="onChange($event.target.value)">
                <option  *ngFor="let month of months" value="{{month}}">{{month}}</option>
            </select>
            </div>    

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Data</th>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr [hidden]="invisiveis[despesa.id]"  *ngFor="let despesa of despesas">
                        <td><div class="glyphicon {{despesa.icone}}"></div> {{despesa.tipo}}</td>
                        <td>{{despesa.data | amTimeAgo }}</td>
                        <td>{{despesa.nome}}</td>
                        <td>{{despesa.valor}}</td>
                        <td>
                    <button class="delete" (click)="del(despesa.id)"><div class="glyphicon glyphicon-trash"></div></button>
                   </tr>
                </tbody>
              </table>
</div>
<button class="btn btn-primary" (click)="add()"><div class="glyphicon glyphicon-plus"></div> Adicionar despesa</button>